# carpeta app
RUES/node_modules/
RUES/.env
RUES/logs/
RUES/output/

# carpeta app
ArgosMaps/base_de_datos_argos_maps.jsonl
ArgosMaps/.env
ArgosMaps/base_de_datos_argos_maps.xlsx
ArgosMaps/*.jsonl
ArgosMaps/*.xlsx


ArgosMaps/chrome_session_argos/
ArgosMaps/playwright/.cache/
ArgosMaps/ms-playwright/
ArgosMaps/.venv/
ArgosMaps/reto argos scraping google maps.code-workspace
ArgosMaps/__pycache__/
ArgosMaps/*.log
ArgosMaps/.vscode/
ArgosMaps/.idea/


ArgosPaginasAmarillas/__pycache__/
ArgosPaginasAmarillas/.venv/
ArgosPaginasAmarillas/.env
ArgosPaginasAmarillas/*.jsonl
ArgosPaginasAmarillas/base_de_datos_argos.jsonl


SerperAPI/__pycache__/
SerperAPI/venv/
SerperAPI/.env
SerperAPI/*.jsonl
SerperAPI/output
SerperAPI/serper_progress.json

# archivos puntuales
RUES/Antes_api_runner.js
RUES/Docker_pasos.md

# opcional
npm-debug.log

serper.env

