# carpeta app
RUES/node_modules/
RUES/.env
RUES/logs/
RUES/output/

# carpeta app
ArgosMaps/base_de_datos_argos_maps.jsonl
ArgosMaps/.env
ArgosMaps/base_de_datos_argos_maps.xlsx
ArgosMaps/*.jsonl
ArgosMaps/*.xlsx


ArgosMaps/chrome_session_argos/
ArgosMaps/playwright/.cache/
ArgosMaps/ms-playwright/
ArgosMaps/.venv/
ArgosMaps/reto argos scraping google maps.code-workspace
ArgosMaps/__pycache__/
ArgosMaps/*.log
ArgosMaps/.vscode/
ArgosMaps/.idea/


ArgosPaginasAmarillas/__pycache__/
ArgosPaginasAmarillas/.venv/
ArgosPaginasAmarillas/.env
ArgosPaginasAmarillas/*.jsonl
ArgosPaginasAmarillas/base_de_datos_argos.jsonl


SerperAPI/__pycache__/
SerperAPI/venv/
SerperAPI/.env
SerperAPI/*.jsonl
SerperAPI/output
SerperAPI/serper_progress.json



OpenStreetMapsAPI/__pycache__/
OpenStreetMapsAPI/.venv/
OpenStreetMapsAPI/logs
OpenStreetMapsAPI/.env
OpenStreetMapsAPI/*.jsonl
OpenStreetMapsAPI/output


foursquareAPI/__pycache__/
foursquareAPI/venv/
foursquareAPI/logs
foursquareAPI/.env
foursquareAPI/*.jsonl
foursquareAPI/output





ValidarCiudadesAPI/__pycache__/
ValidarCiudadesAPI/.venv/
ValidarCiudadesAPI/logs
ValidarCiudadesAPI/.env
ValidarCiudadesAPI/*.jsonl
ValidarCiudadesAPI/output




# archivos puntuales
RUES/Antes_api_runner.js
RUES/Docker_pasos.md

# opcional
npm-debug.log

serper.env
foursquare.env
.env




ngrok/generated/n8n-ngrok.env
#archivos anteriores que quiero dejar para analizar
ngrok/sync-ngrok-url.sh
ngrok/start-ngrok-and-refresh-n8n.ps1

openrouter-api
No tener en cuenta otras versiones de api-ferreterias



api-ferreterias/__pycache__/
api-ferreterias/venv/
api-ferreterias/logs
api-ferreterias/.env
api-ferreterias/*.jsonl
api-ferreterias/output
api-ferreterias/docker-compose.yml
api-ferreterias/docker-compose-service.yml
api-ferreterias/requirements_api_runner.txt


AnalisisCoberturaAPI/__pycache__/
AnalisisCoberturaAPI/venv/
AnalisisCoberturaAPI/logs
AnalisisCoberturaAPI/.env
AnalisisCoberturaAPI/*.jsonl
AnalisisCoberturaAPI/docker-compose.yml