# Salidas
OUTPUT_FILE=
OUTPUT_EXCEL=

# Control de guardado local
SAVE_JSON_BACKUP=

# Playwright
HEADLESS=

# Anti-bloqueos
CONCURRENCIA_PESTANAS=
TIEMPO_ESPERA_MIN=
TIEMPO_ESPERA_MAX=

# API Runner
PORT=
#N8N_WEBHOOK_URL=